<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>match-detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card id="details">
    <ion-card-header>
      <ion-card-title>Match #{{match.id}}</ion-card-title>
      <ion-card-subtitle>Detail information</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="match-details">
        <ion-item>
          <ion-label slot="start">Club</ion-label>
          <p slot="end">+ Padel</p>
        </ion-item>
        <ion-item id="court">
          <ion-label slot="start">Court</ion-label>
          <p slot="end">{{match.court}}</p>
        </ion-item>
        <ion-item id="date">
          <ion-label slot="start">Day</ion-label>
          <p slot="end">{{ match.date | date:'EEEE, d MMMM' }}</p>
        </ion-item>
        <ion-item id="time">
          <ion-label slot="start">Time</ion-label>
          <p slot="end">{{ match.date | date:'shortTime' }} - {{ finishDate | date:'shortTime' }}</p>
        </ion-item>
        <ion-item id="price">
          <ion-label slot="start">Price</ion-label>
          <p slot="end">{{ match.price }}</p>
        </ion-item>
        <ion-item id="level">
          <ion-label slot="start">Level</ion-label>
          <p slot="end">{{ match.level }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card id="players">
    <ion-card-header>
      <ion-card-subtitle>Jugadores:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let player of players">
          <ion-item slot="header">
            <ion-avatar slot="start">
              <img src={{player.image}}>
            </ion-avatar>
            <ion-label>
              {{ player.name }}
              <p>{{ player.level }}</p>
            </ion-label>
          </ion-item>
          <div class="extra-info" slot="content">
            <ion-item style="text-align: center;">
              <ion-col>
                <p>Organized:</p>
                <p>{{ player.matches.organized }}</p>
              </ion-col>
              <ion-col>
                <p>Played:</p>
                <p>{{ player.matches.total }}</p>
              </ion-col>
              <ion-col>
                <p>Winned:</p>
                <p>{{ player.matches.winned }}</p>
              </ion-col>
              <ion-col>
                <p>Rate:</p>
                <p>{{ calculateRate(player.matches.total, player.matches.winned)}} %</p>
              </ion-col>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>  
    </ion-card-content>
  </ion-card>
</ion-content>
