<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Solo indoor</ion-label>
      <ion-toggle [(ngModel)]="options.indoor" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Nivel de juego</ion-label>
      <ion-range [(ngModel)]="options.level" [max]="10" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Precio partida</ion-label>
      <ion-range [(ngModel)]="options.price" [dualKnobs]="true" [max]="20" [value]="{ lower: 0, upper: 13 }" [pin]="true" [ticks]="true" [snaps]="true"></ion-range>
    </ion-item>
  </ion-list>  
</ion-content>