<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openOptions()" fill="clear">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group *ngFor="let matchesPerDay of matchesPerDays">
    <ion-item-divider [sticky]="true">
      <ion-label>{{matchesPerDay.date | date:'EEEE, MMMM d'}}</ion-label>
    </ion-item-divider>
    <ion-card (click)="openMatch(match.id)" class="text-center" *ngFor="let match of matchesPerDay.matches">
      <ion-item>
        <ion-avatar class="overlayed" *ngFor="let player of match.players" slot="start">
          <img src="{{player.image}}">
        </ion-avatar>
        <ion-label>
          <h1>{{match.date | date:'shortTime'}}</h1>
          <p>+ Padel Club</p>
        </ion-label>
        <ion-icon *ngIf="match.indoor" slot="end" name="home-outline"></ion-icon>
        <ion-icon *ngIf="!match.indoor" slot="end" name="sunny-outline"></ion-icon>
      </ion-item>
      <ion-footer>
        <ion-row class="details">
          <ion-col text-center>
            <ion-icon name="people-outline"></ion-icon>
            <div>{{match.players.length}} / 4</div>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="medal-outline"></ion-icon>
            <div>{{match.level}}</div>
          </ion-col>
          <ion-col text-center>
            <ion-icon name="cash-outline"></ion-icon>
            <div>{{match.price}}€</div>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </ion-item-group>

  
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="leaf"></ion-icon>
  </ion-fab-button>
</ion-fab>
