ion-row.details{
  text-align: center;
  font-size: 1.2em;
}

.more-details{
  font-size: 1.4em;
  vertical-align: center !important;
}

.more-details p{
  margin-left: 10px;
}

ion-item-divider {
  --background: #19422d;
  --color: #fff;

  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-content {
  --background: #19422d
}